

body {
    font-family: 'helvetica', 'sans-serif';
    margin: 0;
}


/* start: global style rules */

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.5;
    font-weight: 400;
    margin: 0.5em 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

a, router-link{
    text-decoration: none;
}

p,
label,
strong {
    line-height: 2;
    font-size: 0.85em;
    font-weight: 300;
}

.flex {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
}

.badge {
    padding: 9px 20px;
    color: #eee;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-size: 0.75em;
}

.badge.new {
    background-color: #FF205F;
}

.badge.strategy {
    background-color: #4EAE60;
}

.badge.racing {
    background-color: #694EAE;
}

.badge.rpg,
.badge.adventure {
    background-color: #40ABF5;
}

.badge.tournaments {
    background-color: #FB6E10;
}

.badge.premium-tournament {
    background-color: #FFB320;
    color: #252525;
}

.shade {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}


/* end: global style rules */


/* start: header styles */

header {
    background-color: #131313;
    padding: 20px 0;
    border-bottom: 1px solid #FFB320;
}


.hamburger-menu {
    background-color: transparent;
    border: 1px solid #FFB320;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    display: none;
}

.hamburger-menu .strip {
    display: block;
    height: 1px;
    background-color: #FFB320;
    margin: 4px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0;
}

nav ul li {
    display: inline-block;
    font-size: 1em;
    margin-right: 30px;
    vertical-align: middle;
}

nav ul li a {
    color: #eee;
    font-weight: 500;
}

nav ul li a:hover {
    color: #FFB320;
}

#logo {
    max-height: 35px;
    margin-top: 2px;
    margin-right: 1.0em;
    float: left;

}
.logo {
    max-width: 300px;
}

.logo h2 {
    color: #eee;
    font-size: 1.5em;
    font-weight: 900;
    margin:0;
    vertical-align: middle;
}


#login-register-button {
    background-color: #FFB320;
    color: #131313;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 0.85em;
    font-weight: 600;
}


/* end: header styles */


/* start: hero styles */

#hero-image {
    height: 820px;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/img/hero1.jpg');
    background-size:cover;
}

.hero-text {
    max-width: 1200px;
    margin: -30px auto 0;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    padding: 0 20px;
}

.hero-text h1 {
    color: #eee;
    font-size: 3.5em;
    font-weight: 300;
    margin: 0.5em 0;
}

.hero-text span {
    color: #FFB320;
}

.hero-text h5 {
    color: #eee;
    font-size: 1em;
    font-weight: 300;
    max-width: 800px;
    line-height: 2;
    margin-bottom: 2.5em;
}

.hero-text button {
    background-color: #FFB320;
    color: #252525;
    border-radius: 25px;
    padding: 15px 25px;
    font-size: 0.85em;
    font-weight: 600;
    border: none;
    cursor: pointer;
}


/* end: hero styles */


/* start: latest news styles */

#pages-list {
    margin-bottom: 0px;
}

#pages-list .flex {
    justify-content: flex-start;
    max-width: 100%;
    padding: 0;
}

#pages-list .flex h5 {
    flex-basis: 25%;
    background-color: #FFB320;
    padding: 25px;
    margin: 0;
    text-align: right;
    color: #eee;
    font-size: 1.2em;
}

#pages-list-container {
    background-color: #131313;
    position: relative;
    flex-basis: 75%;
    padding: 25px;
}

#pages-list-container .badge {
    margin-right: 20px;
}

#pages-list-container .pages-list-text {
    color: #eee;
}


/* start: footer styles */

footer {
    background-color: #252525;
    padding: 25px 0 20px;
}

footer small {
    color: #ddd;
    font-size: 0.9em;
}

footer small .footer-heart {
    font-size: 16px;
}

footer small a {
    color: #007BDC;
}

footer ul {
    list-style-type: none;
    margin: 0;
}

footer ul li {
    display: inline-block;
    margin: 0 12px;
}

footer ul li a {
    color: #ddd;
    font-size: 0.8em;
}


/* end: footer styles */


/* start: media queries */

@media (max-width: 1200px) {
    .flex {
        max-width: 1000px;
    }
    .pages-list-item {
        font-size: 0.8em;
    }
}

@media (max-width: 991px) {
    .flex {
        max-width: 720px;
    }
    nav ul li {
        margin: 0 12px;
        font-size: 0.85em;
    }
    #pages-list .flex h5 {
        width: 15%;
    }
    footer .flex {
        flex-wrap: wrap-reverse;
    }
    footer small {
        flex-basis: 100%;
        font-size: 0.75em;
        text-align: center;
        margin-top: 20px;
        line-height: 1.5;
    }
    footer ul {
        flex-basis: 100%;
        text-align: center;
        padding: 0;
    }
}


/* end 991px */

@media (max-width: 767px) {
    h4 {
        font-size: 1.2em;
    }
    .flex {
        max-width: 540px;
    }
    nav ul {
        display: none;
        position: absolute;
        top: 101%;
        width: 100%;
        background-color: #131313;
        left: 0;
        padding: 0;
        margin: 0;
        z-index: 1;
    }
    nav ul li {
        display: block;
        padding: 15px 0 15px 20px;
        border-bottom: 1px solid #FFB320;
        margin: 0;
    }
    nav ul li a {
        font-size: 1em;
    }
    .hamburger-menu {
        display: block;
        margin-top: 2px;
    }
    #hero-image {
        height: 650px;
        background-size: cover;
    }
    .hero-text {
        margin-top: -85px;
    }
    .hero-text h1 {
        font-size: 2.5em;
    }
    #pages-list .flex h5 {
        display: none;
    }
    #pages-list-container {
        flex-basis: 100%;
    }
    footer ul li {
        margin: 0 10px;
    }
    footer ul li a {
        font-size: 0.75em;
    }
}


/* end 767px */

@media (max-width: 400px) {
    .logo img {
        width: 150px;
        margin-top: 2px;
    }
    #login-register-button {
        padding: 10px;
        font-size: 0.65em;
    }
    #tournaments .box .tournaments-image {
        height: 220px;
    }
}


/* end: media queries */


/* Transitions */

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease-in;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}